* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    font-weight: 600;
}
/*////////////// Macro //////////////*/
header {
    width: 300px;
    height: calc(100vh - 120px);
    background-color: black;
    position: fixed;
    color: grey;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 30px 30px;
}
footer {
    width: 100%;
    height: 120px;
    background-color: rgb(37, 37, 37);
    position: fixed;
    padding: 20px 20px;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    color: grey;
}
main {
    width: calc(100vw - 300px);
    height: 100vh;
    background-color: rgb(22, 25, 32);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 8;
    color: grey;
}
a {
    text-decoration: none;
    color: grey;
}
h3, h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.white {
    color: white;
}
/*////////////// Header //////////////*/
/* General //////////////*/ 
header ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
header i {
    color: white;
}
.logo {
    height: auto;
    width: 150px;
}
.menu {
    margin-top: 30px;
}
.font_image {
    width: 2em;
    height: auto;
}
.bottom_tab {
   position: fixed;
   bottom: 200px;
   z-index: 11;
   background-color: black;
}
.bottom_tab hr {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user_pic {
    border-radius: 100%;
    background-color: grey;
    overflow: hidden;
}
.bold {
    font-weight: 900;
}
.phone {
    display: none;
}
/* Hover //////////////*/
a:hover {
    color: white;
}
/*////////////// Footer //////////////*/
.control_bar {
    margin-top: 0px;
    width: 250px;
    height: 100px;
}
.control_bar img {
    height: 70px;
    width: 70px;
}

.long {
    width: 35%;
}
.short {
    width: 300px;
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.selected_song {
    height: 50px;
    width: 100px;
    margin-left: 20px;
}
.controls {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.progression {
    font-weight: 400;
}
.videop {
    margin-top: 20px;
    width: calc(20px + 32vw);
}
.sound {
    width: calc(20px + 5vw);
}
.icon_big {
    font-size: 40px;
}
.time {
    font-size: 12px;
}
/* Hover //////////////*/
i:hover {
    color: white;
}








/*////////////// Responsive //////////////*/

@media only screen and (max-width: 950px) {
    /* ///// Header ///// */
    header {
        width: 250px;
    }
    /* ///// Main ///// */
    main {
        width: calc(100vw - 250px);
    }
    /* ///// Footer ///// */
    .controls {
        gap: 20px;
    }
    .short {
        width: 150px;
    }
    .selected_song {
        height: 50px;
        width: 120px;
        margin-left: 20px;
    }

}

@media only screen and (max-width: 600px) {
    /* ///// Header ///// */
    .no_phone  {
        display: none;
    }
    .phone {
        display: inline-block;
    }
    .logo {
        width: 50px;
    }
    /* ///// Main ///// */
    header {
        width: 100px;
        padding: 15px 25px;
    }
    .header ul {
        gap: 10px;
    }

    main {
        width: calc(100vw - 100px);
    }
    /* ///// Footer ///// */
    .controls {
        gap: 10px;
    }
    .control_bar img {
        width: 35px;
        height: 35px;
    }
    .controls_left {
        flex-direction: column;
    }
}